* {
    margin: 0px;
    padding: 0px;
  }
  .main , .main2{
      display: flex;
  }
  .box1 ,.box2 ,.box3{
    margin: 10px;
    height: 345px;
    width: 400px;
    color: black;
    border: 1px solid rgb(133, 129, 129);
  
  }
  h3 {
    height: 100px;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 100px;
  }
  p {
    height: 100px;
    padding: 10px;
    background: white;
    
  }
  a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 3px 15px;
    margin-left: 10px;
    
   
  }
  
  