@media(min-width:500px){
   
    main .outer .graph1 img {
        height: 400px;
        width: 450px;
    }
    main .imges1 .img2 {
        width: 400px;
    }
    main .work .everyday button {
        width: fit-content;
        padding: 16px 70px;
       margin: 0px auto;
    }
}