@media(min-width:800px) {

    #toggle-label {
      display: none;
      }
  
      span .material-symbols-outlined{
          display: none;
      }
      header{
        display: flex;
        align-items: center;
      }

      header .wrapper {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        gap: 90px;
    
      }
      header nav .heding{
        display: flex;
        flex-direction: row;
        gap: 30px;
      }
      header nav{
        display: flex;
        flex-direction: row;
        gap: 60px;
      }
      header {
        width: 100%;
        display: flex;
        flex-direction: row;
       gap: 10px;
    }
      header nav a {
        text-decoration: none;
        color: #000000;
        display: flex;
        flex-direction: row;
    }
    
    header nav .btn1 {
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
    main .main1{
        display: flex;
        width: fit-content;
        margin: 0px auto;
    }
   main .main1 :nth-child(1){
    display: flex;
    border-radius: 8px;
    background-color: #61e7e78a;
    color: white;
    width: fit-content;
   }

    

    main .content1 {
        margin: 0px auto;
        padding: 5px 100px;
    }

    main .content1 h1 {
        font-size: 40px;
        font-weight: 700;
    }

    main .btn2 {
        display: flex;
        flex-direction: row;
    }

    main .outer .graph1 img {
        height: 500px;
        width: 650px;
    }

    main .outer .icon {
        display: flex;
        padding-left: 50px;
        justify-content: space-between;
    }

    main .butn button {
        display: none;
    }

    main .yourwork1 {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: start;
        text-align: start;
        padding-left: 30px;
    }

    main .work .everyday {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 50px auto;
    }

    main .work .graph2 img {
        width: 450px;
    }

    main .lasticone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .lasticone .icon2 {
        display: flex;
        flex-direction: column;
    }

    .lasticone .icon3 {
        display: flex;
        flex-direction: column;
    }

    main .lasticone .icon2,
    .icon3 {
        display: flex;
    }


    main .imges1 {
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
    }

    main .imges1 .img2 {
        width: 400px;
        padding: 0px 50px;
    }
    footer .section2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    footer .section2 a {
        display: flex;
        text-decoration: none;
        color: #e8f0e0;
    }
    .section2 .company  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
    }
    
    .section2 .support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
      
    }
    
    .section2 .legal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: start;
        
    }
    .section2 span{
        display: none;
    }
}